@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

:root {
  --background: #f5f7fb;
  --foreground: #0f172a;
}

@theme {

   /* button color */
   --color-blue-600: #2563eb;

   --color-green-400: #4ade80;

   --color-green-100: #DC9ACC;

   /* sidebar color */
   --color-primary-light: #0a0e1a;

  /* card color */
   --color-custom-dark: #161b2e;
   

   --color-bg: #f8fafc;
   --color-white: #ffffff;
   --color-gray-50: #f9fafb;
   --color-gray-100: #f1f5f9;
   --color-gray-200: #e2e8f0;
   --color-gray-300: #cbd5e1;
   --color-gray-400: #94a3b8;
   --color-gray-500: #64748b;
   --color-gray-600: #475569;
   --color-gray-700: #334155;
   --color-gray-800: #1e293b;
   --color-gray-900: #0f172a;

  
 }

.h1 {
  @apply text-white text-base sm:text-lg lg:text-[1rem] font-semibold;
}

.heading{
  @apply text-white text-base sm:text-lg lg:text-[1.3rem] font-semibold 
}

.paragraph{
  @apply  text-gray-400 text-base sm:text-[0.98rem] lg:text-[1rem]
}

.rounded {
  @apply 
    rounded-lg sm:rounded-xl md:rounded-2xl 
    p-3 sm:p-4 md:p-6 border border-gray-700 
    shadow-lg transform transition-all duration-300 ease-in-out
    hover:scale-[1.02] active:scale-[0.98];
}

.text-responsive {
  @apply 
    text-gray-100 font-medium leading-tight text-xs sm:text-sm md:text-base lg:text-[0.92rem];    
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.font-inter {
  font-family: var(--font-inter);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-poppins {
  font-family: var(--font-poppins);
}
