@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

:root {
  --background: #f5f7fb;
  --foreground: #0f172a;
}

@theme {

   --color-primary: #1e3a8a;
   /* Deep Navy Blue (Sidebar BG) */
   --color-green-400: #A63A92;

   --color-green-100: #DC9ACC;

   --color-primary-light: #224191;
   /* Slightly lighter navy */
   --color-primary-dark: #162d6e;
   /* Darker for hover/active */

   --color-bg: #f8fafc;
   --color-white: #ffffff;
   --color-gray-50: #f9fafb;
   --color-gray-100: #f1f5f9;
   --color-gray-200: #e2e8f0;
   --color-gray-300: #cbd5e1;
   --color-gray-400: #94a3b8;
   --color-gray-500: #64748b;
   --color-gray-600: #475569;
   --color-gray-700: #334155;
   --color-gray-800: #1e293b;
   --color-gray-900: #0f172a;

  
 }
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.font-inter {
  font-family: var(--font-inter);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-poppins {
  font-family: var(--font-poppins);
}
